.App{
    max-width: 1400px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
}

body {
    font-family: 'PingFang SC', 'Microsoft YaHei', sans-serif;
    color: #333333;
    background-color: white;
    line-height: 1.6;
    padding: 20px;
}