.comment{
    background: white;
    padding: 16px;
    border-radius: 24px;
    border-bottom: 1px solid #d9d9d9;
}
.topHeader{
    display: flex;
    align-items: center;
    gap: 16px;
    /* width: 40%; */
}

.comment-content{
    margin-left: 56px;
}

.opterImg{
    height: 16px;
    margin-left: auto;
}

.userName{
    font-size: 20px;
    font-weight: 600;
}